<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <%= image_tag portfolio.thumb_image unless portfolio.thumb_image.nil? %>
    <div class="card-body">
      <p class="card-text">
        <span><%= portfolio.title %></span>
        <%= portfolio.subtitle %>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to 'Show', portfolio, class: "btn btn-sm btn-outline-secondary" %>
          <%= link_to 'Edit', edit_portfolio_path(portfolio), class: "btn btn-sm btn-outline-secondary" if logged_in?(:site_admin) %>
        </div>
      </div>
    </div>
  </div>
</div>