<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keyword" content="<%= @seo_keywords %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>




        <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


  </head>

  <body class="d-flex h-100 text-center text-white bg-dark">
    <p class="notice"><%= notice %></p>
           <p class="alert"><%= alert %></p>

           <%= render "shared/nav", location: 'top' %>  

           <h2>Hello <%= current_user.first_name %></h2> 
           <%= login_helper %>
    <%= yield %>

    <%= copyright_generator %>
    <%= source_helper("application") %>
    </body>
</html>
